<div class="text-center">
    <h2>{{title}}</h2>
    <p>{{{get_emoji}}}</p>
    <p>{{content}}</p>
    <p>{{text}}</p>
    <p>Created by {{User.name}} on {{format_date date_created}}</p>

    <p>
        <button class="btn btn-primary">
            <p>Comment &#9997;</p>
        </button>
    </p>
</div>